<app-navigation-bar name = "Items Inventory"></app-navigation-bar>

<ion-content [fullscreen]="true" class="ion-margin-top">

  <div class = "item-header"> 

    <!-- search bar icon-->
    <ion-icon 
      [name] = "isSearchOpen? 'close-outline': 'search-outline' "
      (click) = "toogleSearchOpen(isSearchOpen)" 
      id = "searchIcon">
    </ion-icon>

    <!-- search bar -->
    <div *ngIf = "isSearchOpen">
      <ion-searchbar 
        show-clear-button="always" 
        placeholder = "Search items...."
        class = "custom-search"
        autocomplete = true
        (ionInput) = "searchInput($event)"
        [debounce] = "1000" 
      ></ion-searchbar>
      <!-- delay ion input event-->
    </div>
  
    <!-- add product button-->
    <ion-button (click) = "addItem()">
      Add Item
      <ion-icon slot = "start" name = "add-outline"></ion-icon>
    </ion-button>

  </div>

  <!-- item list card -->
  <ion-grid>
    <!-- loop to render items -->
    <ion-row>

      <!-- 1st col -->
      <ion-col size = "6" *ngFor = "let item of queryItemResult; let i = index">
        
        <!-- todo: change to actual item data -->
        <ion-card class = "item-card" (click) = "viewItemDetails(item)">
          <!-- item img -->
          <img
            alt = "item1" 
            src = {{item.item_image}} 
            style = "height: 150px; padding: 0px 10px;"
          />
          
          <ion-card-header class="ion-no-margin">
            <!-- item name -->
            <ion-card-title 
              style = "font-size: 1.25rem; font-weight: 500;"
              class="ion-no-margin"
            > 
              {{item.item_name}} 
            </ion-card-title>
          </ion-card-header>
    
          <!-- simple item details -->
          <ion-card-content class="ion-no-margin">
            <!-- category -->
            <p style = "font-weight: 300; "> 
              <span style = "font-size: 0.9rem;">Category: </span> <br/> {{item.cat_name}} 
            </p>

            <br/>

            <!-- status -->
            <p style = "font-weight: 300;"> 
              <span style = "font-size: 0.9rem;">Status: </span> <br/> {{item.item_status}} 
            </p>
            
          </ion-card-content>

        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
