<app-navigation-bar name = "Add Item"></app-navigation-bar>

<ion-content [fullscreen] = "true" scrollY = "true">

    <form>

        <!-- item name -->
        <ion-item>
            <ion-label position = "stacked">Item Name</ion-label>
            <ion-input name = "item_name"></ion-input>
        </ion-item>

        <br/>

        <!-- item descripton -->
        <ion-item>
            <ion-label position = "stacked">Description</ion-label>
            <ion-textarea name = "item_description"></ion-textarea>
        </ion-item>

        <br/>

        <!-- item origin -->
        <ion-item>
            <ion-label position = "stacked">Origin</ion-label>
            <ion-input name = "item_origin"></ion-input>
        </ion-item>

        <br/>

        <!-- category -->
        <!-- todo: render from item category lookup tbl -->
        <ion-item>
            <ion-label position = "stacked">Category</ion-label>
            <!-- drop down menu -->
            <ion-select 
                #selectOpt
                name = "item_category" 
                interface = "popover" 
                [value] = "(itemCategoryArray.length > 0 ? itemCategoryArray[0] : '') || itemCategoryArray[0].cat_name"
            >
                <ion-select-option 
                    *ngFor = "let category of itemCategoryArray" 
                    [value] = "category.cat_name"
                >
                    {{category.cat_name}}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <br/>

        <!-- status -->
        <ion-item>
            <ion-label position = "stacked">Status</ion-label>
            <!-- drop down menu -->
            <ion-select 
                #statusOpt
                name = "item_status" 
                interface = "popover" 
                [value] = "(itemStatusArray.length > 0 ? itemStatusArray[0] : '')"  
                [multiple]="true"
            >
                <ion-select-option 
                    *ngFor = "let status of itemStatusArray" 
                    [value] = "status.status_name"
                >
                    {{status.status_name}}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <br/>

        <!-- value (rm)-->
        <ion-item>
            <ion-label position = "stacked">Value (RM)</ion-label>
            <ion-input type = "number" name = "item_value">
            </ion-input>
        </ion-item>

        <br/>

        <!-- item photo -->
       <image-upload-component></image-upload-component>
       
        <br/>

        <div style = "display: flex; justify-content: space-between; padding: 0px 2px; ">
            <!-- submit item form -->
            <ion-button slot = "end"  shape = "round" type = "submit" (click) = "addItemForm()" >Add Item</ion-button>

            <!-- cancel add -->
            <ion-button slot = "end" shape = "round" type = "submit" (click) = "clearItemForm()">Cancel</ion-button>
        </div>

    </form>

</ion-content>
