<ion-header>

  <ion-toolbar>

    <ion-title>Select avatar</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-modal>
<ion-content>

  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let avatar of defaultAvatars; let i = index">
        <ion-col size="4" >
          <button
              class="avatar-button" 
              (click)="selectAvatar(avatar)"
              [attr.aria-label]="'Select avatar ' + (i + 1)"
              [class.selected]="selectedAvatar === avatar"
            >
              <img [src]="avatar" [alt]="'Avatar option ' + (i + 1)">
          </button>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>

</ion-content>
</ion-modal>

<ion-footer>

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" color = "primary">Cancel</ion-button>
      <ion-button (click)="save()" strong color = "primary">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>


