.settings-list {
    padding: 5px;
    margin: 10px;
}

ion-list.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px; 
}

ion-list.md ion-item ion-icon {
    color: #6b7989;
  }
  
// ion-list.md ion-item ion-label {
//     font-weight: 500;
//     color: #6b7989;
// }

ion-list.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
}

