<ion-header class = "ion-no-border" [translucent]= "true">

  <ion-toolbar>
    <!-- back  -->
    <ion-buttons slot="start" (click) = "navBack()">
        <ion-icon slot = "icon-only" ios = "arrow-back-outline" md = "arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-title>

      <!-- ensure name is not null -->
      <ng-container [ngSwitch]="!!name"> 

        <!-- When name has a value -->
        <span *ngSwitchCase="true">{{name}}</span>
        
        <!-- When name is null/undefined/empty -->
        <ion-img 
          *ngSwitchCase="false"
          src="assets/icon/trackmate.png" 
          alt="Trackmate" 
          class="title-image"/>
      </ng-container>

    </ion-title>

  </ion-toolbar>

</ion-header>



