.login-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.card{
    width: 20rem; 
    height: auto;
    margin: 150 auto; 
}

.login-button{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

ion-img {
    height: 200px;
    // margin-bottom: 50px;
}



