<ion-content [fullscreen]="true">
  <!-- register page header -->
  <div class = "register-header"> 
    <ion-text class="ion-text-center">
      <h1>Get Started</h1>
      <p style = "color: var(--ion-color-medium); ">Creating a free account with Stackmate</p>
    </ion-text>
  </div>

  <!-- register form -->
  <div class = "form">
    <!-- create registration form, save data to database -->
    <form [formGroup] = "register_form" (ngSubmit) = "onSubmit()" >
      
      <!-- username -->
      <ion-input
        placeholder = "Username *"
        fill = "outline"
        formControlName= "newUsername"
      >
        <ion-icon aria-hidden = "true" name = "person-outline" slot = "start"></ion-icon>
      </ion-input>

      <!-- todo: validate username -->
      <ng-container *ngFor="let validation of error_message.newUsername">
        <div class="error-message" *ngIf="isValid('newUsername', validation.type)">
          <ion-icon name="information-circle-outline" aria-hidden = "true"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
      
      <br/>

      <!-- name -->
      <ion-input
      placeholder = "Name *"
      fill = "outline"
      formControlName= "newName"
      >
        <ion-icon aria-hidden = "true" name = "person-outline" slot = "start"></ion-icon>
      </ion-input>
      
      <!-- todo: validate name -->
      <ng-container *ngFor="let validation of error_message.newName">
        <div class="error-message" *ngIf="isValid('newName', validation.type)">
          <ion-icon name="information-circle-outline" aria-hidden = "true"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
      
      <br/>

      <!-- email -->
      <ion-input
        placeholder = "Email *"
        fill = "outline"
        type = "email"
        formControlName = "newEmail"
      >
        <ion-icon aria-hidden = "true" name = "mail-outline" slot = "start"></ion-icon>
      </ion-input>

      <!-- todo: validate email -->
      <ng-container *ngFor="let validation of error_message.newEmail">
        <div class="error-message" *ngIf="isValid('newEmail', validation.type)">
          <ion-icon name="information-circle-outline" aria-hidden = "true"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>

      <br/>

      <!-- password -->
      <ion-input
        placeholder = "Password *"
        fill = "outline"
        type = "password"
        formControlName = "newPassword"
      >
        <ion-icon aria-hidden = "true" name = "lock-closed-outline" slot = "start"></ion-icon>
      </ion-input>

      <!-- todo: validate pass -->
      <ng-container *ngFor="let validation of error_message.newPassword">
        <div class="error-message" *ngIf="isValid('newPassword', validation.type)">
          <ion-icon name="information-circle-outline" aria-hidden = "true"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>

      <br/>

      <!-- retype pass -->
      <ion-input
        placeholder = "Confirm Password *"
        fill = "outline"
        type = "password"
        formControlName = "retypePassword"
      >
        <ion-icon aria-hidden = "true" name = "lock-closed-outline" slot = "start"></ion-icon>
      </ion-input>

      <!-- todo: validate retype pass -->
      <ng-container *ngFor="let validation of error_message.retypePassword">
        <div class="error-message" *ngIf="isValid('retypePassword', validation.type)">
          <ion-icon name="information-circle-outline" aria-hidden = "true"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>

      <!-- <ng-container *ngFor="let validation of error_message.matching_passwords"> -->
      <div class="error-message" *ngIf="isPasswordInvalid()">
        <ion-icon name="information-circle-outline" aria-hidden = "true"></ion-icon> Password mismatch.
      </div>
      <!-- </ng-container> -->

      <br/>

      <!-- terms and condition -->
      <ion-checkbox label-placement = "end" formControlName = "terms">By signing up, you agree to our <a href = "/" (click)="$event.stopPropagation()">Terms Policy</a></ion-checkbox>
      
      <!-- todo: validate t&c -->
      <ng-container *ngFor="let validation of error_message.terms">
        <div class="error-message" *ngIf="isValid('terms', validation.type)">
          <ion-icon name="information-circle-outline" aria-hidden = "true"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
      
      <!-- submit form-->
      <ion-button expand = "block" shape = "round" type = "submit" [disabled] = '!register_form.valid'>Sign In</ion-button>
    </form>
  </div>
</ion-content>
