.user-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

ion-card {
    --background:#e9d5fe;
    --color: black;
}

ion-label {
    font-size: 17px;
    font-weight: 200;
}

p{
    color: var(--ion-color-medium-shade);
    font-size: 16px;
}

ion-title, ion-button{
    // text-align: center;
    color: #000;
}

// .profile-container {
//     display: flex;
//     border: 2px transparent; 
//     border-radius: 60px; 
//     height: 100px; 
//     width: 100px;  
//     // margin-left: 10px; 
//     margin-top: 20px;
//     translate: -35px 0px; 
// }

.profile {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 2% 40%; 
    position: relative;
}
