<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-margin-top">
  
  <div class = "user-container">

    <!-- todo: profile icon-->
    <div style = "padding: 2% 40%; position: relative"> 
      
      <ion-avatar>
        <img alt="profile" [src]= "profilePhoto" />
      </ion-avatar>
      
      <!-- todo: change icon button ?-->
      <!-- <ion-button 
          (click) = "editProfilePhoto()"
          fill = "outline"
          shape = "round"
        > -->
        <ion-icon 
          slot = "icon-only" 
          name = "pencil-outline"
          color = "primary"
          (click) = "editProfilePhoto()"
          style = "position: absolute; margin-left: 47px; font-size: 25px; bottom: 5%; cursor: pointer;"
          ></ion-icon>
      <!-- </ion-button> -->

    </div>

    <!-- user info -->
    <div class="ion-margin" style = "justify-content: space-between; align-items: center; display: flex; ">
      <h5 class = "ion-no-margin">
        My Profile  
      </h5>
      <!-- primary for ios: right -->
      <ion-buttons slot="primary" style = "text-align: center;"> 
        <ion-button (click) = "editProfile()" >
          Edit
          <ion-icon slot="end" name="create" color = "secondary"></ion-icon>
        </ion-button>
      </ion-buttons>

    </div>

    <ion-card>
      <ion-card-content>
        <!-- username -->
        <div>
          <ion-label>Username</ion-label>
          <!-- render username -->
          <p> {{username}}</p>
        </div>
         
        <br/>

        <!-- name -->
        <div>
          <ion-label>Name</ion-label>
          <!-- render email -->
          <p> {{name}}</p>
        </div>

        <br/>

        <!-- tbc: pronoun -->
        <div>
          <ion-label>Pronoun</ion-label>
          <!-- default no val -->
          <!-- edit pronoun/gender -->
          <div style = "justify-content: space-between; padding-left: 2px;">
            <p> {{pronoun}}</p>
          </div>
        </div>

        <br/>

        <!-- email -->
        <div>
          <ion-label>Personal Email</ion-label>
          <!-- render email -->
          <p> {{email}}</p>
        </div>

        <br/>
        
        <!-- password -->
        <div>
          
          <ion-label>Password</ion-label>
          
          <div style = "justify-content: space-between; display: flex; " >
            <!-- render password -->
            <p class="ion-no-margin"> {{showPassword ? password : maskPassword(password)}} </p>
            <span
              (click)="toggleVisibilityPassword()"
              style = "padding-right: 10px; color: #932ad9; cursor: pointer;"
            >
              Show
            </span>
          </div>
        </div>

        <!-- to be added -->
      
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
