.item_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    border: 1px solid var(--ion-color-secondary);
}

.custom_item_image{
    align-items: center;
    border-radius: 20px;
    // border: 1px solid var(--ion-color-secondary);
    margin-bottom: 2px;

}

p{
   font-size: 18px;

}